header {
    background-color: #007A52; /* Colore blu governativo */
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center; /* Centrare verticalmente */
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

#logo {
    max-width: 100px; /* Larghezza massima del logo */
    height: auto; /* Altezza automatica rispetto alla larghezza */
}




body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
main {
    padding: 20px;
}

footer {
    background-color: #007A52;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
