
        .miur-bar {
            background-color: #21215c;
            color: #fff;
            padding: 10px;
            font-size: 14px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .miur-bar a {
            color: #fff;
            text-decoration: none;
            margin-right: 20px;
        }

        .miur-bar a:hover {
            text-decoration: underline;
        }